pkgbase = libexec-git
	pkgdesc = Execute Programs
	pkgver = r4.3a94eed
	pkgrel = 1
	arch = any
	makedepends = git
	makedepends = lld
	makedepends = clang
	makedepends = doxygen
	provides = libexec
	conflicts = libexec
	source = git+https://github.com/kkernick/libexec.git
	b2sums = SKIP

pkgname = libexec-git
